.main_hook_container{}
.hook_inner_container{
  border: 1px solid #868484;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hook_cake_num{
  color: white;
  margin-bottom: 20px;
}
.hook_buy_cake{
  border: none;
  background-color: #b7ff00;
  color: #ffffff;
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.5s;
  cursor: pointer;
}